version: "3.8"
services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100:9100
    networks:
      local:

  frontend:
    container_name: fe
    image: ian/frontend:1.0
    ports:
      - "3000:3000"
    networks:
      local:

  webserver:
    container_name: nginx
    restart: always
    image: nginx:latest
    user: root
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx:/etc/nginx/conf.d"
      - "/etc/letsencrypt/live/sinambela.studentdumbways.my.id/fullchain.pem:/etc/letsencrypt/live/sinambela.studentdumbways.my.id/fullchain.pem"
      - "/etc/letsencrypt/live/sinambela.studentdumbways.my.id/privkey.pem:/etc/letsencrypt/live/sinambela.studentdumbways.my.id/privkey.pem"
    networks:
      local:

networks:
  local: