server {
        listen 80;
        listen 443 ssl;
        server_name ansible.sinambela.studentdumbways.my.id;

        ssl_certificate /etc/letsencrypt/live/sinambela.studentdumbways.my.id/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/sinambela.studentdumbways.my.id/privkey.pem;

        location / {
                proxy_pass http://frontend:3000;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
        }
}
